.about-container {
  width: 95vw;
  height: 95vh;
  justify-content: center;
  align-items: center;
}

.about-container h2 {
  visibility: hidden;
}

.grid-view {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin-left: -30px;
}

.grid-view img {
  position: absolute;
  right: 0;
  margin-right: 10%;
}

.grid-left {
  height: 75vh;
  width: 50%;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10%;
  font-weight: bold;
}

.grid-left1 {
  height: 75vh;
  width: 15%;
  align-items: flex-end;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 13%;
  font-weight: bold;
}

.grid-right {
  height: 75vh;
  width: 30%;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  gap: 10%;
  font-weight: bold;
}

.grid-right p {
  text-align: justify;
  opacity: 0; /* Start with opacity 0 */
  transform: translateX(100px); /* Start position above its final position */
  animation: slideInFromRight 1.7s ease forwards; /* Apply animation */
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100px); /* Start from above */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End at its final position */
  }
}

.grid-center {
  height: 75vh;
  width: 3px;
  background-color: #ffb800;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 17%;
  box-shadow: 0px 0px 10px 4px rgba(255, 184, 0, 0.5);
}

.circle {
  width: 15px;
  height: 15px;
  background: linear-gradient(45deg, #79d744, #cde258);
  border-radius: 100%;
  opacity: 0; /* Start with opacity 0 */
  transform: translateY(-50px); /* Start position above its final position */
  animation: fadeInUp 1.7s ease forwards; /* Apply animation */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-50px); /* Start from above */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at its final position */
  }
}

.circle.dark-mode {
  width: 15px;
  height: 15px;
  background-color: #ffb800;
  border-radius: 100%;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Start with opacity 0 */
  transform: translateX(-100px); /* Start position above its final position */
  animation: slideInFromLeft 1.7s ease forwards; /* Apply animation */
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px); /* Start from above */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End at its final position */
  }
}

.left-content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 6vw;
  height: 5vh;
  border-radius: 10px;
  align-items: center;
  opacity: 0; /* Start with opacity 0 */
  transform: translateX(-100px); /* Start position above its final position */
  animation: slideInFromLeft 1.7s ease forwards; /* Apply animation */
}

.left-content1.light-mode {
  color: black;
  background: linear-gradient(90deg, #79d744, #cde258);
  box-shadow: 0px 10px 3px 1px rgba(0, 0, 0, 0.1); /* Adjust spread value */
}

.left-content1.dark-mode {
  border: 2px solid #ffb800;
  box-shadow: 0px 0px 10px 4px rgba(255, 184, 0, 0.5);
}

.image-container {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.image-container img {
  width: 3rem;
  height: 3rem;
}


@media (max-width: 480px) {
  .grid-view img {
    visibility: hidden;
  }

  .grid-left {
    gap: 10%;

  }
  
  .grid-left1 {
    gap: 25%;
  }

  .grid-center{
    gap:30%;
  }

  .left-content1{
    width: 13vw;
    height: 5vh;
  }

  .about-container{

    justify-content: center;
    align-items: center;
  }
  .grid-view{
    margin: 5%;
  }


}