.home-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.left {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100vh;
  align-items: left;
  justify-content: center;
}

.content {
  margin-top: -35vh;
  width: auto;
  height: 35%;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}

.content p {
  text-align: justify;
  height: 12%;
  width: 87%;
}
.name {
  text-align: justify;
  font-weight: bold;
  height: 5%;
  font-size: 3rem;
}

.surname {
  text-align: justify;
  font-weight: bold;
  height: 10%;
  color: #FFB800;
  margin-bottom: 10%;
  font-size: 3rem;
}


.content-btn {
  margin-top: 12%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left;
  align-items: center;
  gap: 5%;
  margin-bottom: 10%;
}

.btn-cv {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 2rem;
  align-content: center;
  font-size: 0.7rem;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.btn-cv.light-mode {
  color: white;
  background-color: #FFB800
}

.btn-cv.light-mode:focus {
  outline: 0;
  color: rgb(255, 255, 255);
  background-color: #FFB800;
  border-radius: 10px;
}

.btn-cv.light-mode:hover {
  outline: 0;
  color: black;
  background-color: white;
  border-radius: 10px;
}

.btn-cv.dark-mode {
  color: white;
  background-color: #FFB800;
}

.btn-cv.dark-mode:focus {
  outline: 0;
  color: white;
  background-color: #FFB800;
  border-radius: 10px;
}

.btn-cv.dark-mode:hover {
  outline: 0;
  color: black;
  background-color: white;
  border-radius: 10px;
}

.btn-get {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 2rem;
  align-content: center;
  font-size: 0.7rem;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.btn-get.light-mode {
  color: white;
  background-color: #000000;
}

.btn-get.light-mode:focus {
  outline: 0;
  color: white;
  background-color: #000000;
  border-radius: 10px;
}

.btn-get.light-mode:hover {
  outline: 0;
  color: white;
  background-color: #FFB800;
  border-radius: 10px;
}

.btn-get.dark-mode {
  outline: 0;
  color: #d9d9d9;
  background-color: black;
  border-radius: 10px;
}

.btn-get.dark-mode:focus {
  outline: 0;
  color: #d9d9d9;
  background-color: black;
  border-radius: 10px;
}

.btn-get.dark-mode:hover {
  outline: 0;
  color: white;
  background-color: #FFB800;
  border-radius: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.dp{
  animation: float 3s infinite;
  margin-top: 10%;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .home-container {
   
    display: flex;
    flex-direction: row;
    align-items: center;
   
  }
  .right{
    visibility: hidden;
  }
  .content img{
    visibility: hidden;
  }
  .left {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .content {
    margin-top: -35vh;
    width: auto;
    height: 45%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .content p {
    text-align: justify;
    height: 20%;
    width: 100%;
  }
  .name {
    text-align: justify;
    font-weight: bold;
    height: 5%;
    font-size: 1.5rem;
  }
  
  .surname {
    text-align: justify;
    font-weight: bold;
    height: 10%;
    color: #FFB800;
    margin-bottom: 10%;
    font-size: 1.5rem;
  }
  
  
  .content-btn {
    margin-top: 40%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: left;
    align-items: center;
    gap: 5%;
    margin-bottom: 10%;
  }
  
  .btn-cv {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 2rem;
    align-content: center;
    font-size: 0.7rem;
    align-items: center;
    justify-content: center;
    gap: 3px;
    
  }

  .image123{
    display: flex;
  }
  
}
